# Add files here to ignore them from prettier formatting

# compiled output
/dist
/.build
/tmp
/out-tsc
/coverage

# dependencies
/node_modules

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Workspace
package.json
*/**/tsconfig.*
*/**/jest.config.*
*/**/proxy.conf*
