HASURA_ENGINE_PORT=8080
HASURA_GRAPHQL_API_PORT=8081
HASURA_CONSOLE_PORT=8088

HASURA_GRAPHQL_DATABASE_URL=
HASURA_GRAPHQL_ENABLE_CONSOLE="false"
HASURA_GRAPHQL_ENABLED_LOG_TYPES="startup, http-log, webhook-log, websocket-log, query-log"
HASURA_GRAPHQL_DEV_MODE="true"
HASURA_GRAPHQL_JWT_SECRET="{ \"type\": \"HS256\", \"key\": \"66032391f9db7765769c2be97c1237b7\" }"
HASURA_GRAPHQL_ADMIN_SECRET=123456
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=anonymous

ACTIONS_HANDLER_URL=http://docker.for.mac.localhost:3000
ACTIONS_HANDLER_ACCESS_TOKEN="Bearer f890f065cec35612e60ac02359ede24ffksflak339393933lll"